/* Write your CSS here */

.summary-con {
  display: flex;
  flex-direction: column;
}

.order-total {
  font-family: 'Roboto';
  color: #616e7c;
  font-size: 25px;
  margin-bottom: 5px;
}
.price {
  font-family: 'Roboto';
  font-size: 30px;
  color: #171f46;
}
.cart-length {
  margin-top: 5px;
  font-family: 'Roboto';
  color: #616e7c;
}
.check-out-btn {
  background-color: #0b69ff;
  color: #ffffff;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto';
  font-weight: bold;
  border-radius: 5px;
}
